# =========================
# LangChain Core
# =========================

langchain
langchain-core
langchain-community

# =========================
# LLM Providers
# =========================

langchain-openai
langchain-mistralai
langchain-huggingface
mistralai

# =========================
# Embeddings
# =========================

sentence-transformers
huggingface-hub

# =========================
# Vector Database
# =========================

chromadb

# =========================
# Hybrid Retrieval
# =========================

rank-bm25

# Ensemble Retriever Support
faiss-cpu

# =========================
# Document Loaders
# =========================

pypdf
unstructured
beautifulsoup4
lxml

# =========================
# Text Processing
# =========================

tiktoken

# =========================
# Environment Variables
# =========================

python-dotenv

# =========================
# Data Handling
# =========================

pandas
numpy


# =========================
# UI
# =========================

streamlit

# =========================
# Utilities
# =========================

tqdm
requests
arxiv
pinecone

# =========================
# Agentic RAG
# =========================

langgraph
langchain-pinecone